<my-org-app-dynamic-dialog
  [headerContext]="dynamicDialogStore.headerContext()"
  (submitDialogTriggered)="dynamicDialogStore.onSubmit()"
  (closeDialogTriggered)="dynamicDialogStore.closeDialog()"
>
  <ng-template #dialogBody>
    @let formGroup = activeDialog().form;
    <div [formGroup]="formGroup">
      <my-org-app-select-reactive
        [options]="yesNoOptions"
        [rootFormGroup]="formGroup"
        [fControlName]="'active'"
        optionLabel="name"
        optionValue="value"
        label="Active"
      />
    </div>
  </ng-template>
</my-org-app-dynamic-dialog>
