<my-org-app-dynamic-dialog>
  <ng-template #dialogBody>
    @let formGroup = dynamicDialogService.getForm();
    <div [formGroup]="formGroup">
      <p-select
        [options]="yesNoOptions"
        [formControl]="formGroup.controls['active']"
        optionLabel="name"
        optionValue="value"
        placeholder="Active"
        class="w-full md:w-56"
      />
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>

      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works123!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works!</p>
      <p>user-filter-dialog works END!</p>
    </div>
  </ng-template>
</my-org-app-dynamic-dialog>
