<ng-container
  [ngTemplateOutlet]="headerTemplate()"
  [ngTemplateOutletContext]="{
    $implicit: context().header
  }"
/>

<ng-template [myOrgDynamicDialogDefaultHeaderTemplate] let-header>
  <div class="header flex justify-between items-center">
    <h1>{{ header.title }}</h1>
    <my-org-app-button
      [buttonConfig]="{
        type: 'icon',
        icon: 'pi pi-times',
        variant: 'text'
      }"
      (clickTriggered)="closeDialogTriggered.emit()"
    />
  </div>
</ng-template>

<p-divider />

<div class="flex-1 overflow-y-auto overflow-x-hidden body">
  <ng-container [ngTemplateOutlet]="bodyTemplate()"> </ng-container>
</div>

<p-divider />

<div class="footer flex justify-between items-center">
  <ng-container
    [ngTemplateOutlet]="footerTemplate()"
    [ngTemplateOutletContext]="{
      $implicit: context().footer
    }"
  />
</div>

<ng-template [myOrgDynamicDialogDefaultFooterTemplate] let-footer>
  <p>default dialog footer!</p>
  <my-org-app-button
    [buttonConfig]="{
      label: footer?.button?.submit?.label ?? 'Submit',
      type: 'basic',      
    }"
    myOrgSubmitButton
    [form]="dialogForm()"
    (clickTriggered)="submitDialogTriggered.emit()"
  />
</ng-template>

<!-- <ng-container [ngTemplateOutlet]="footerTemplate() || defaultFooter" />

<ng-template #defaultFooter>
  <p>default dialog footer!</p>
</ng-template> -->
