/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.p-datatable {
  border: 1px solid #e2e8f0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: auto;
}
