/* You can add global styles to this file, and also import other style files */
@use "styles/app";
@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
  --font-size-2xl: 22px;
}

@layer base {
  h1 {
    font-size: var(--font-size-2xl);
  }
}

.p-datatable {
  border: 1px solid #e2e8f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: auto;
}

.p-button {
  width: 100%;
}

.ng-invalid.ng-touched:not([formArrayName]):not(form) {
  border: 1px solid red !important;
}

.ng-invalid.ng-dirty:not([formArrayName]):not(form) {
  border: 1px solid red !important;
}

.p-drawer-mask {
  background-color: transparent !important;
}

.p-drawer {
  width: 20rem;
  background: antiquewhite !important;

  &.drawer-collapsed {
    width: 60px;
  }
}
