<div
  class="flex flex-col justify-center justify-self-center h-full gap-12 w-2xs"
  myOrgAuth
>
  <my-org-app-input
    [rootFormGroup]="loginForm()"
    fControlName="email"
    [label]="'Email'"
  />
  <my-org-app-input
    [rootFormGroup]="loginForm()"
    inputType="password"
    fControlName="password"
    [label]="'Password'"
  />
  <my-org-app-button
    [buttonConfig]="{ label: 'Sign In', type: 'basic', variant: undefined }"
    myOrgSubmitButton
    [form]="loginForm()"
    (clickTriggered)="authDirective().signIn()"
  />
</div>
