<div #mydiv></div>
<div class="paginator-wrapper flex justify-between items-center px-2">
  <div>
    <my-org-app-select-template-driven
      [options]="pageSizeOptions()"
      [(model)]="rows"
      [appendTo]="mydiv"
      (valueChanged)="onPageSizeChange($event)"
    />
  </div>

  <p-paginator
    #paginator
    [rows]="rows()"
    [totalRecords]="totalRecords()"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} to {last} of {totalRecords}"
    (onPageChange)="onPageChange($event)"
  />
</div>
