<my-org-app-dynamic-dialog
  [context]="dynamicDialogStore.context()"
  [dialogForm]="dynamicDialogStore.activeDialogForm()"
  (submitDialogTriggered)="dynamicDialogStore.onSubmit()"
  (closeDialogTriggered)="dynamicDialogStore.closeDialog()"
>
  <ng-template #dialogBody>
    @let formGroup = activeDialog().form;
    <div class="grid grid-cols-2 gap-4">
      <h1 class="col-span-2">Main Information</h1>
      <my-org-app-skeleton-loader [loading]="businessGroupsState().loading">
        <my-org-app-input
          [rootFormGroup]="formGroup"
          [fControlName]="'name'"
          label="First Name"
        />
      </my-org-app-skeleton-loader>
      <my-org-app-skeleton-loader [loading]="businessGroupsState().loading">
        <my-org-app-input
          [rootFormGroup]="formGroup"
          [fControlName]="'familyName'"
          label="Last Name"
        />
      </my-org-app-skeleton-loader>
      <my-org-app-divider [styleClass]="'py-2'" class="col-span-2" />
      <h1 class="col-span-2">Contact</h1>
      <my-org-app-skeleton-loader [loading]="businessGroupsState().loading">
        <my-org-app-input
          [rootFormGroup]="formGroup"
          [fControlName]="'email'"
          label="Email"
        />
      </my-org-app-skeleton-loader>
      <my-org-app-skeleton-loader [loading]="businessGroupsState().loading">
        <my-org-app-input
          [rootFormGroup]="formGroup"
          [fControlName]="'phoneNumber'"
          label="Phone Number"
          [validatorKey]="'phoneNumberValidator'"
        />
      </my-org-app-skeleton-loader>
      <my-org-app-divider [styleClass]="'py-2'" class="col-span-2" />
      <h1 class="col-span-2">Business Group</h1>
      <my-org-app-skeleton-loader
        [loading]="businessGroupsState().loading"
        class="col-span-2"
      >
        <my-org-app-select-reactive
          [options]="
            businessGroupsState().businessGroups
              | businessGroupCoreToSelectViewModelItem
          "
          [rootFormGroup]="formGroup"
          [fControlName]="'businessGroupId'"
          optionLabel="label"
          optionValue="value"
          label="Business Groups"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
        />
      </my-org-app-skeleton-loader>
    </div>
  </ng-template>

  <ng-template [myOrgDynamicDialogCustomFooterTemplate]>
    <my-org-app-dynamic-dialog-footer
      [leftButtonConfig]="{
        label: 'Cancel',
        type: 'basic',
        variant: 'outlined'
      }"
      [rightButtonConfig]="{ label: 'Create', type: 'basic' }"
      [validateDialogOnSubmit]="true"
      [isDialogLoading]="businessGroupsState().loading"
      [dialogForm]="dynamicDialogStore.activeDialogForm()"
      (leftButtonClicked)="cancel()"
      (rightButtonClicked)="create()"
    />
  </ng-template>
</my-org-app-dynamic-dialog>
